header {
   display: flex;
   border-bottom:2px solid #1771CF ;
}
h1{
margin-left: 20%;
margin-top: 8%;
}
main {
    margin-left: 80px;
}
.equipe {
    margin: 30px 0;
}
#cosmos {
    width: 200px;
    height: 230px;
    margin: 10px;
    margin-right: 20px;
}
#images {
    display: flex;
    justify-content: space-between;
    width: 75%;
}
section,p {
    margin: 0 10px 10px;
}
.space {
    display: inline-block;
    background-color: #6AADF2 ;
}
 #valeurs,#text,#images {
    margin: 0;
 }
 h1,h2 {
    color: #1771CF;
 }

.blanc {
    color: white;
    text-decoration: underline;
}
.blanc_cit {
    color: white;
    text-decoration: none;
}