/**
 * style.css - Style principal de la page
 */

/**
 * Polices
 */

/* Moon Dance */
@font-face {
  font-family: "Moon Dance";
  src: url("assets/fonts/Moon_Dance/MoonDance-Regular.ttf");
}

/* Poppins */
@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: bold;
}

/* A FAIRE: Implémenter le style de la page selon la maquette */
